/*InputBox {
    border: 0px;
    border-top: 2px solid {details_color};
    font-family: {term_fontfamily};
    font-size: {term_fontsize};
    color: {term_input_textcolor};
    background: {term_input_bgcolor};
    selection-color: {term_input_bgcolor};
    selection-background-color: {term_input_textcolor};
}*/
MainWindow {
    /*This should never be visbile*/
    background: red;
}

QWidget {
    font-family: Calibri;
    font-size: 12pt;
}

/* ======== Generic list widgets ========== */
/*ListWidget, ListWidgetContainer {*/
ListWidget {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 #bdf, stop:1 #257);
    border: 1px solid #999;
}

/* ============= Tag widget =============== */
TagListBackground {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 white, stop:1 green);
    /*border: 1px solid #999;*/
}

TagWidget {
    background: #ccd;
    border-radius: 5px;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1px;
}
    TagWidget:flat {
        background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                    stop:0 #dde, stop:1 #889);
        color: #000;
    }
    TagWidget:checked {
        background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                    stop:0 #001, stop:1 #445);
        color: #ccc;
    }
TagName {
    background: none;
    border: none;
    margin-left: 10px;
    margin-top: 4px;
}
    TagName:flat {
        color: #000;
    }
    TagName:checked {
        color: #ccc;
    }
TagCount {
    margin-right: 12px;
}
    TagCount:flat {}
    TagCount:checked {}
/* ======================================== */


/* ============= Task widget ============== */
TaskListBackground {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 #bdf, stop:1 #257);
}
TaskWidget {
    background: #fff;
    border: 1px solid #999;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    padding: 5px;
}

/* ------------- Sorting buttons ---------- */
SortButtonContainer {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 #28282f, stop:1 #111119);
    border-top: 1px solid #333;
    padding: 8px;
    padding-left: 16px;
}
SortButtonLabel {
    color: #eee;
    margin-right: 10px;
}
SortButton {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10pt;
    margin-left: 8px;
    padding:5px;
}
/*SortButton:flat {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 #778, stop:1 #223);
    color: #222;
}*/
SortButton:flat {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 #dde, stop:1 #778);
    color: #000;
}
SortButton:checked {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 #001, stop:1 #445);
    color: #ccc;
}
/* ---------------------------------------- */

TaskNumber {
    color: #777;
    font-style: italic;
    margin-right: 8px;
}
TaskDescription {
    background: #e8e8e8;
    border-radius: 10px;
    padding: 10px;
}
TaskDescriptionIndicator {
    color: #777;
    margin-left: 8px;
}
TaskDate {
    font-style: italic;
}
TaskText {
    font-weight: bold;
}
TaskTag {
    background: #779;
    border-radius: 4px;
    color: #eee;
    font-family: lucida console;
    font-size: 8pt;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 2px;
}
TaskTagWarning {
    background: #f44;
}
/* ======================================== */
