/*InputBox {
    border: 0px;
    border-top: 2px solid {details_color};
    font-family: {term_fontfamily};
    font-size: {term_fontsize};
    color: {term_input_textcolor};
    background: {term_input_bgcolor};
    selection-color: {term_input_bgcolor};
    selection-background-color: {term_input_textcolor};
}*/

MainWindow {
    background: #333;
}

QLabel {
    font-family: Calibri;
    font-size: 12pt;
    /*background: #acf;
    color: black;
    border: 1px solid red;
    padding: 0px;
    margin: 0px;*/
}

ListWidget, ListWidgetContainer {
    background: #dde;
    border: 1px solid #999;
}


/* ============= Tag widget =============== */
TagListWidget {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 white, stop:1 green)
}

TagWidget {
    background: #ccd;
    border-radius: 5px;
    /*border: 1px solid #555;*/
    /*margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;*/
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    /*padding: 1px;*/
}
TagName {
    background: #779;
    border-radius: 4px;
    color: #eee;
    font-family: lucida console;
    font-size: 9pt;
    margin-right: 10px;
    padding: 2px;
}
TagCount {
    background: #99b;
    border-radius: 4px;
    font-family: lucida console;
    font-size: 9pt;
    padding: 2px;
}
/* ======================================== */


/* ============= Task widget ============== */
TaskWidget {
    background: #fff;
    border: 1px solid #999;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    padding: 5px;
}
TaskNumber {
    color: #777;
    font-style: italic;
    margin-right: 8px;
}
TaskDescription {
    background: #e8e8e8;
    padding: 10px;
}
TaskDescriptionIndicator {
    color: #777;
    margin-left: 8px;
}
TaskText {
    font-weight: bold;
}
TaskTag {
    background: #779;
    border-radius: 4px;
    color: #eee;
    font-family: lucida console;
    font-size: 8pt;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 2px;
}
TaskTagWarning {
    background: #f44;
}
/* ======================================== */


